      <!--
    ####################################################
    C A R O U S E L
    ####################################################
    -->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
      <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
          <li data-target="#carousel" data-slide-to="3"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <a>
                  <!--
                  If you need more browser support use https://scottjehl.github.io/picturefill/
                  If a picture looks blurry on a retina device you can add a high resolution like this
                  <source srcset="img/blog-post-1000x600-2.jpg, blog-post-1000x600-2@2x.jpg 2x" media="(min-width: 768px)">

                  What image sizes should you use? This can help - https://codepen.io/JacobLett/pen/NjramL
                   -->
                   <picture>
                    <source srcset="../../../assets/images/banner/qualified-astrologer.jpg" media="(min-width: 1400px)">
                    <source srcset="../../../assets/images/banner/1400_500/qualified-astrologer.jpg" media="(min-width: 769px)">
                     <source srcset="../../../assets/images/banner/800_500/qualified-astrologer.jpg" media="(min-width: 577px)">
                    <img srcset="../../../assets/images/banner/600_400/qualified-astrologer.jpg" alt="responsive image" class="d-block img-fluid">
                  </picture>

              </a>
          </div>
          <!-- /.carousel-item -->
          <div class="carousel-item">
              <a>
                <picture>
                  <source srcset="../../../assets/images/banner/astrology-service.jpg" media="(min-width: 1400px)">
                  <source srcset="../../../assets/images/banner/1400_500/astrology-service.jpg" media="(min-width: 769px)">
                   <source srcset="../../../assets/images/banner/800_500/astrology-service.jpg" media="(min-width: 577px)">
                  <img srcset="../../../assets/images/banner/600_400/astrology-service.jpg" alt="responsive image" class="d-block img-fluid">
                </picture>


              </a>
          </div>
          <!-- /.carousel-item -->
          <div class="carousel-item">
              <a>
                <picture>
                  <source srcset="../../../assets/images/banner/recharge-wallet.jpg" media="(min-width: 1400px)">
                  <source srcset="../../../assets/images/banner/1400_500/recharge-wallet.jpg" media="(min-width: 769px)">
                   <source srcset="../../../assets/images/banner/800_500/recharge-wallet.jpg" media="(min-width: 577px)">
                  <img srcset="../../../assets/images/banner/600_400/recharge-wallet.jpg" alt="responsive image" class="d-block img-fluid">
                </picture>

                  <!-- <div class="carousel-caption justify-content-center align-items-center">
                      <div>
                          <h2>Performance Optimization</h2>
                          <p>We monitor and optimize your site's long-term performance</p>
                          <span class="btn btn-sm btn-secondary">Learn How</span>
                      </div>
                  </div> -->
              </a>
          </div>
          <!-- /.carousel-item -->
          <div class="carousel-item">
            <a>
              <picture>
                <source srcset="../../../assets/images/banner/private-and-confidential.jpg" media="(min-width: 1400px)">
                <source srcset="../../../assets/images/banner/1400_500/private-and-confidential.jpg" media="(min-width: 769px)">
                 <source srcset="../../../assets/images/banner/800_500/private-and-confidential.jpg" media="(min-width: 577px)">
                <img srcset="../../../assets/images/banner/600_400/private-and-confidential.jpg" alt="responsive image" class="d-block img-fluid">
              </picture>

                <!-- <div class="carousel-caption justify-content-center align-items-center">
                    <div>
                        <h2>Every project begins with a sketch</h2>
                        <p>We work as an extension of your business to explore solutions</p>
                        <span class="btn btn-sm btn-outline-secondary">Our Process</span>
                    </div>
                </div> -->
            </a>
        </div>
           <!-- /.carousel-item -->

      </div>
      <!-- /.carousel-inner -->
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
  <!-- /.carousel -->

<!-- Start Home Astrologer list -->
<section class="hm-astrologer-wrapper py-5">
  <div class="container">
    <div class="hm-astrologer-header mb-5">
      <h1 class="mt-5 mb-1"><b>Astologer's</b></h1>
      <div class="separator home">
        <span class="text">Best Astrologers from India for Online Consultation</span>
      </div>
      <span class="float-right"><button mat-raised-button color="primary" (click)="hmViewAllAstrologer()">View All</button></span>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let astro of astroData">
          <div class="slide astrologer-img  cardShadow my-3 mr-3 p-3 bg-white rounded">
            <!-- <img src="../../../assets//images/user/default-user.jpg"> -->
            <img src="{{astro.profilePic ? astro.profilePic : '../../../assets//images/user/default-user.jpg'}}" >

            <div class="astro-content">
                <h1>{{astro.name}}</h1>
                <p>{{astro.language}}</p>
                <p>Experience: {{astro.experience}}</p>
            </div>
          </div>
      </ng-template>
      <!-- <ng-template carouselSlide>
        <div class="slide astrologer-img  cardShadow my-3 mr-3 p-3 bg-white rounded">
          <img src="../../../assets//images/user/default-user.jpg">

          <div class="astro-content">

              <h1>Bijendra Gaur</h1>
              <p>Hindi, English</p>
              <p>Vedic Astrologer, Gemology</p>

          </div>
        </div>

      </ng-template>
      <ng-template carouselSlide>
        <div class="slide astrologer-img  cardShadow my-3 mr-3 p-3 bg-white rounded">
          <img src="../../../assets//images/user/default-user.jpg">

          <div class="astro-content">

              <h1>Bijendra Gaur</h1>
              <p>Hindi, English</p>
              <p>Vedic Astrologer, Gemology</p>

          </div>
        </div>

      </ng-template>

      <ng-template carouselSlide>
        <div class="slide astrologer-img  cardShadow my-3 mr-3 p-3 bg-white rounded">
          <img src="../../../assets//images/user/default-user.jpg">

          <div class="astro-content">

              <h1>Bijendra Gaur</h1>
              <p>Hindi, English</p>
              <p>Vedic Astrologer, Gemology</p>

          </div>
        </div>

      </ng-template>
      <ng-template carouselSlide>
        <div class="slide astrologer-img  cardShadow my-3 mr-3 p-3 bg-white rounded">
          <img src="../../../assets//images/user/default-user.jpg">

          <div class="astro-content">
              <h1>Bijendra Gaur</h1>
              <p>Hindi, English</p>
              <p>Vedic Astrologer, Gemology</p>
          </div>
        </div>

      </ng-template> -->
  </owl-carousel-o>
    <!-- <div class="row">
      <div class="col-sm-3 col-md-3" *ngFor="let astro of astroData">
        <div class="astro_img">
          <img src="../../../assets//images/user/default-user.jpg">
        </div>
        <p>Name: {{astro.name}}</p>
        <div>
          <button mat-mini-fab (click)="makeCall(astro)">
            <mat-icon>phone</mat-icon>
          </button>
        </div>
      </div> -->
      <!-- <div class="col-sm-3 col-md-3">
        <div class="astro_img">
          <img src="../../../assets//images/user/default-user.jpg">
        </div>
        <p>Name: Astro 2</p>
        <div>
          <button mat-mini-fab>
            <mat-icon>phone</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="astro_img">
          <img src="../../../assets//images/user/default-user.jpg">
        </div>
        <p>Name: Astro 3</p>
        <div>
          <button mat-mini-fab>
            <mat-icon>phone</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="astro_img">
          <img src="../../../assets//images/user/default-user.jpg">
        </div>
        <p>Name: Astro 4</p>
        <div>
          <button mat-mini-fab>
            <mat-icon>phone</mat-icon>
          </button>
        </div>
      </div> -->
  <!-- </div> -->
  </div>
</section>
<!-- End Home Astrologer list -->



<hr>
  <!-- Start DAILY HOROSCOPE -->
  <section class="hm-horoscope-wrapper mb-5">
    <div class="container">
        <div class="hm-horoscope-header mb-5">
          <h1 class="mt-5 mb-1"><b>DAILY HOROSCOPE</b></h1>
          <div class="separator home">
            <span class="text"> Your daily zodiac sign reading free</span>
          </div>
        </div>
        <div class="row hm-horoscope-block my-4">
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/arise.png">
              <h4><b>Mar 21 - Apr 19</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/taurus.png">
                <h4><b>Apr 20 - May 20</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
             <a href="#"> <img src="../../../assets//images/zodiac/gemini.png">
              <h4><b>May 21 - Jun 20</b></h4>
            </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/cancer.png">
              <h4><b>June 21 - July 22</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/leo.png">
              <h4><b>July 23 - Aug 22</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/virgo.png">
              <h4><b>Aug 23 - Sep 22</b></h4>
              </a>
            </div>
        </div>
        <div class="row hm-horoscope-block">
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/libra.png">
              <h4><b>Sep 23 - Oct 22</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/scorpio.png">
              <h4><b>Oct 23 - Nov 21</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/sagittarius.png">
              <h4><b>Nov 22 - Dec 21</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/capricorn.png">
              <h4><b>Dec 22 - Jan 19</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/aquarius.png">
              <h4><b>Jan 20 - Feb 18</b></h4>
              </a>
            </div>
            <div class="col no-gutter">
              <a href="#"><img src="../../../assets//images/zodiac/pisces.png">
              <h4><b>Feb 19 - Mar 20</b></h4>
              </a>
            </div>
        </div>



        <!-- <div class="hm-horoscope-block d-flex flex-row justify-content-center">
          <div class="p-2"><img src="../../../assets//images/zodiac/arise.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/taurus.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/gemini.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/cancer.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/leo.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/virgo.png"></div>
        </div>

        <div class="hm-horoscope-block d-flex flex-row justify-content-center">
          <div class="p-2"><img src="../../../assets//images/zodiac/libra.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/scorpio.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/sagittarius.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/capricorn.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/aquarius.png"></div>
          <div class="p-2"><img src="../../../assets//images/zodiac/pisces.png"></div>
        </div> -->
    </div>
  </section>
<!-- End DAILY HOROSCOPE -->

<hr>

<!-- sai AstroWorld news -->
<section class="astro-news mb-5">
  <div class="container">
    <div class="hm-horoscope-header mb-">
      <h1 class="mt-5 mb-1"><b>Sai AstroWorld In News</b></h1>
      <div class="separator home">
        <span class="text">Our Success Stories In Media Headlines And Lots Of Encouragement</span>
      </div>
    </div>
    <div class="listing mt-5">
      <div class="row justify-content-center">
        <div class="col-md-2" *ngFor="let client of clientList;">
          <div class="img-wrapper mb-3">
            <img [src]="client.img" [alt]="client.name" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<!-- sai AstroWorld news end -->

<section class="testimonial-wrapper mb-5">
<div class="container">
  <div class="hm-horoscope-header mb-5">
    <h1 class="mt-5 mb-1"><b>Testimonials</b></h1>
    <div class="separator home">
      <span class="text">Top Astrologers. 24*7 customer support. Happy to help</span>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide testimonial-img  cardShadow my-3 mr-3 p-3 bg-white rounded">
          <img src="//www.saiastrofuture.com/wp-content/uploads/2020/06/satwik-150x150-1.jpeg">

          <div class="testimonial-content">
              <!-- <h2><b>Satwik Mishra</b></h2>

              <h4>Ex-Advisor to the Member of Parliament</h4> -->
              <blockquote class="blockquote">
                <p>
                More than an astrologer, he is a friend I needed most in tough times. He just doesn't tell you your past, he can read your future as well. <span><p class="text-truncate">He gave me a solution, which no psychiatrist could ever give. I will forever be thankful for him for bringing light at the end of tunnel.</p></span> </p>
                <footer class="blockquote-footer"><b>Satwik Mishra </b><cite title="Source Title">Ex-Advisor to the Member of Parliament</cite></footer>
              </blockquote>
          </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide testimonial-img cardShadow my-3 mr-3 p-3 bg-white rounded">
        <img src="//www.saiastrofuture.com/wp-content/uploads/2020/06/Arnima-150x150-1.jpg">

        <div class="testimonial-content">
            <!-- <h2><b>Satwik Mishra</b></h2>

            <h4>Ex-Advisor to the Member of Parliament</h4> -->
            <blockquote class="blockquote">
              <p>
                 I am not a believer in Astrology but Suvajit is the reason of my growing faith in it. I have consulted him for my husband career and everything <span><p class="text-truncate"> has turned out to be positive. He listens to you with utmost patience and when you speak with him it just feels like you are speaking to a friend. I have recommended him to my close family members who are equally happy with him.Keep doing the good work!</p></span> </p>
              <footer class="blockquote-footer"><b>Arnima Singh </b><cite title="Source Title">
                Works at McAfee</cite></footer>
            </blockquote>
        </div>
      </div>

    </ng-template>
    <ng-template carouselSlide>
      <div class="slide testimonial-img cardShadow my-3 mr-3 p-3 bg-white rounded">
        <img src="//www.saiastrofuture.com/wp-content/uploads/2020/06/Ankur-150x150-1.jpg">

        <div class="testimonial-content">
            <!-- <h2><b>Satwik Mishra</b></h2>

            <h4>Ex-Advisor to the Member of Parliament</h4> -->
            <blockquote class="blockquote">
              <p>
                Dr. Suvajit is the reason for why I have a strong belief in Vedic Astrology. He is good at what he does. I would have recommended <span><p class="text-truncate"> him to everyone whosoever needs his help and guidance. There are only few people on earth whom you bank upon and Dr. Suvajit is the one of them.</p></span> </p>
              <footer class="blockquote-footer"><b>Ankur Prajapati </b><cite title="Source Title">
                Cyber Security Technology Specialist at Darktrace </cite></footer>
            </blockquote>
        </div>
      </div>

    </ng-template>

    <ng-template carouselSlide>
      <div class="slide testimonial-img cardShadow my-3 mr-3 p-3 bg-white rounded">
        <img src="//www.saiastrofuture.com/wp-content/uploads/2020/06/rima-150x150-1.jpeg">

        <div class="testimonial-content">
            <!-- <h2><b>Satwik Mishra</b></h2>

            <h4>Ex-Advisor to the Member of Parliament</h4> -->
            <blockquote class="blockquote">
              <p>
                Dr.Suvajit is excellent..I respect his guidance n I follow him.. his guidance allows right to me for take a good dissection...I'm lucky to hv u sir </p>
              <footer class="blockquote-footer"><b>Rima Sarkar </b><cite title="Source Title">Electrical Engineering Draftsman at IES</cite></footer>
            </blockquote>
        </div>
      </div>

    </ng-template>
</owl-carousel-o>
</div>

</section>

<hr>

<section class="hm-about-us pt-4 pb-5">
  <div class="container">
    <div class="hm-about-us-block mb-5">
      <h1 class="mb-0"><b>About</b></h1>
      <div class="separator home">
        <span class="text">Satisfied customers,Astrologers and lots of love</span>
      </div>
    </div>
    <p> AstroWorld is the best astrology website for online Astrology predictions. Talk to Astrologer on call and
  get answers to all your worries by seeing the future life through Astrology Kundli Predictions from the
  best Astrologers from all over the world. Get best future predictions related to Marriage, love life,
  Career or Health over call, chat, query or report.</p>
</div>
</section>
