<div class="chat-wrapper" *ngIf="viewChatOption">
    <form [formGroup]="chatForm">
        <div class="chat-list">
            <div class="listing clearfix" *ngFor="let list of chatList;">
                <span [ngClass]="(list?.receiver == getFirebaseUserData?.id) ? 'mine': 'other'">{{list?.message}}</span>
            </div>
        </div>
        <div class="input-field">
            <input type="text" formControlName="message">
            <button class="send" (click)="sendMessage()">Send</button>
        </div>
    </form>
</div>