<div class="chat-wrapper" *ngIf="viewChatOption">
     <!-- chat list -->
     <mat-card class="list-wrapper example-card" *ngIf="!viewChatScreen">
            <div *ngFor="let list of allChatList" class="media" (click)="getChatMsgScreen(list)">
                <div class="avatar" [ngStyle]="{'background-color': '#'+(list?.color) }">
                    {{list?.shortName}}
                </div>
                <div class="media-body">
                    <h5 class="pointer">{{list?.name}}</h5>
                    <p class="pointer">{{list?.lastMessage}}</p>
                </div>
            </div>
     </mat-card>
        <!-- chat list end -->
    <mat-card class="example-card" *ngIf="viewChatScreen">
        <mat-card-header>
            <button mat-mini-fab mat-card-avatar color="primary" class="mr-3" (click)="viewchatListScreen()"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <div mat-card-avatar class="user-header-image"></div>
                <mat-card-title>{{chatName}}</mat-card-title>
                <mat-card-subtitle>Online</mat-card-subtitle>
            </mat-card-header>
        <form [formGroup]="chatForm">
                <div class="chat-list" id="chatWrap">
                    <div class="listing clearfix" *ngFor="let list of chatList;">
                        <span [ngClass]="(list?.receiver == getFirebaseUserData?.id) ? 'mine': 'other'">{{list?.message}}</span>
                    </div>
                </div>
                <div class="message-field">
                    <textarea formControlName="message"></textarea>
                    <button mat-mini-fab color="primary" (click)="sendMessage()" [disabled]="chatForm.invalid"><mat-icon>send</mat-icon></button>
                </div>
            </form>
    </mat-card>
</div>