<mat-sidenav-container
    class="sidenav-container" (backdropClick)="close('backdrop')">

  <mat-sidenav class="drawer-container" #sidenav [fixedInViewport]="true" (keydown.escape)="close('escape')" disableClose>
    <!-- <button mat-button  (click)="close('toggle button')">X</button> -->
      <div class="side-bar-logo"><img class="mb-2" src="../assets/images/logo/PNG/font120px.png"></div>
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="astro-talk" data-toggle="list" href="javascript:;" (click)="talkToAstro()" *ngIf="AdminLoginHideFlag" role="tab" aria-controls="astro-talk">Talk to Astrologer</a>
        <a class="list-group-item list-group-item-action" id="astro-chat" data-toggle="list" href="javascript:;" (click)="chatToAstro()" *ngIf="AdminLoginHideFlag" role="tab" aria-controls="astro-chat">Chat with Astrologer</a>
        <a class="list-group-item list-group-item-action" id="astro-report" data-toggle="list" href="javascript:;" (click)="viewReport()" *ngIf="AdminLoginHideFlag" role="tab" aria-controls="astro-report">Get Reports</a>
        <a class="list-group-item list-group-item-action" id="astro-question" data-toggle="list" href="javascript:;" (click)="viewQA()" *ngIf="AdminLoginHideFlag" role="tab" aria-controls="astro-question">Ask Question</a>
        <a class="list-group-item list-group-item-action" id="horoscope" data-toggle="list" href="javascript:;" role="tab" aria-controls="horoscope">Horoscope 2020</a>
        <a class="list-group-item list-group-item-action" id="kundli" data-toggle="list" href="javascript:;" role="tab" aria-controls="kundli">Kundli</a>
        <a class="list-group-item list-group-item-action" id="astro-mall" data-toggle="list" href="javascript:;" role="tab" aria-controls="astro-mall">AstroMall</a>
        <a class="list-group-item list-group-item-action" id="blog" data-toggle="list" href="javascript:;" role="tab" aria-controls="blog">Blog</a>
      </div>

      <!-- <li><a>Talk to Astrologer</a></li>
      <li><a>Horoscope 2020</a></li>
      <li><a>Kundli</a></li>
      <li><a>AstroMall</a></li>
      <li><a>Blog</a></li> -->

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="toolbar-wrapper">

      <mat-toolbar-row>

        <button mat-button class="menu-button" (click)="sidenav.open()"><mat-icon aria-hidden="false">view_headline</mat-icon></button>
        <span class="hm-logo"><a href="javascript:;"><img src="../assets/images/logo/PNG/font120px.png"></a></span>
        <span class="example-spacer"></span>

        <div class="quick-link" *ngIf="isAstrologerLoggedIn$ | async as isAstrologerLoggedIn">

        <span class="example-spacer"></span>
        <span class="highlight-menu"><a href="javascript:;" (click)="talkToAstro()">Talk to Astrologer</a></span>
        <span class="highlight-menu"><a href="javascript:;" (click)="chatToAstro()">Chat with Astrologer</a></span>
        <span class="highlight-menu"><a href="javascript:;" (click)="viewReport()">Get Reports</a></span>
        <span class="highlight-menu"><a href="javascript:;" (click)="viewQA()">Ask Question</a></span>
        <span><a href="javascript:;">Horoscope 2020</a> </span>


       </div>
        <!-- <button mat-button><mat-icon aria-hidden="false">notifications</mat-icon></button> -->
        <mat-icon class="hm-user-icon" *ngIf="isUserLogin" mat-button [matMenuTriggerFor]="menu" mat-raised-button>face</mat-icon>
        <mat-menu #menu="matMenu" backdropClass="hm-user-menu-item" >
          <h4 *ngIf="isUserLogin">{{checkUser.name}}</h4>
          <!-- <h4>{{checkUser.email}}</h4> -->
          <h4 *ngIf="isUserLogin">{{checkUser.contactNo}}</h4>
          <mat-divider></mat-divider>
          <button *ngIf="!AdminLoginHideFlag" mat-menu-item (click)="dashboard()"><mat-icon>dashboard</mat-icon> <span>Dashboard</span></button>
          <button *ngIf="AdminLoginHideFlag" mat-menu-item (click)="home()"><mat-icon>home</mat-icon> <span>Home</span></button>
          <button mat-menu-item (click)="logOut()"><mat-icon>power_settings_new</mat-icon> Log Out</button>
          <!-- <button mat-menu-item>Info</button> -->
        </mat-menu>
        <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="!isUserLogin">Login</button>
        <mat-icon class="hm-wallet mt-3" mat-raised-button (click)="wallet();">account_balance_wallet</mat-icon>
        <!-- <mat-icon  mat-raised-button>login</mat-icon> -->

        <mat-icon class="hm-cart mt-3" mat-raised-button>shopping_cart</mat-icon>
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
      </mat-toolbar-row>
      <div class="header-social">
        <a href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
      </div>
    </mat-toolbar>

      <div class="fixed-plugin" *ngIf="isAstrologerLoggedIn$ | async as isAstrologerLoggedIn">

          <div class="example-button-row">

            <button matTooltip="Chat" matTooltipPosition="left"  mat-mini-fab (click)="chatToAstro()" aria-label="chat icon">
              <mat-icon>chat</mat-icon>
            </button>
            <button matTooltip="Call" matTooltipPosition="before" mat-mini-fab (click)="talkToAstro()"  aria-label="call icon">
              <mat-icon>phone</mat-icon>
            </button>
            <button matTooltip="Report" matTooltipPosition="before" mat-mini-fab  (click)="viewReport()" aria-label="report icon">
              <mat-icon>assignment</mat-icon>
            </button>
            <button matTooltip="Ask Question" matTooltipPosition="before" mat-mini-fab (click)="viewQA()"  aria-label="Q&A icon">
              <mat-icon>question_answer</mat-icon>
            </button>
          </div>
       </div>

     <app-spinner></app-spinner>
    <router-outlet></router-outlet>


    <footer class="footer-wrapper py-5">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
              <h3><b>About us</b></h3>
              <p>
                We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
              </p>
              <p>© Company Inc.</p>
                  </div>
            <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
              <h3><b>Contact</b></h3>
                  <p><i class="fa fa-map-marker-alt"></i> Demo Address 10, 10136 Turin Italy</p>
                  <p><i class="fa fa-phone"></i> Phone: (0039) 123 45 67 890</p>
                  <p><i class="fa fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                  <p><i class="fa fa-skype"></i> Skype: you_online</p>
                  </div>
                  <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="row">
                      <div class="col">
                        <h3><b>Links</b></h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p><a class="scroll-link" href="#top-content">Home</a></p>
                        <p><a href="#">Features</a></p>
                        <p><a href="#">How it works</a></p>
                        <p><a href="#">Our clients</a></p>
                      </div>
                      <div class="col-md-6">
                        <p><a href="#">Plans &amp; pricing</a></p>
                        <p><a href="#">Affiliates</a></p>
                        <p><a href="#">Terms</a></p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="footer-bottom pt-5">
        <div class="container">
          <div class="row">
               <div class="col footer-social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
             </div>
        </div>
      </div>
      
<!-- 
  <button (click)="signupFirebase()">signup</button>
  <button (click)="signupWithOther()">other signup</button>
  <button (click)="loginFirebase()">login</button>
  <button (click)="loginOtherFirebase()">login other</button>
  <button (click)="sendMessage()">Send</button>
  <button (click)="getUserList()">user</button>
  <button (click)="getAllMessage();">All message</button>

  <div *ngFor="let list of userList;">
    <span (click)="setReceiverId(list)">{{list.username}}</span>
  </div>
  <form [formGroup]="messaging" class="mt-5">
    <input type="text" formControlName="typing">
  </form>
  <div *ngFor="let list of chatList;">
    {{list.message}}
  </div> -->
    </footer>

    <!-- <app-chat [viewChatOption]="true"></app-chat> -->

  </mat-sidenav-content>

  <!-- <button mat-button><mat-icon aria-hidden="false">notifications</mat-icon></button> -->


</mat-sidenav-container>



