
$white: #fff;
$off-white: #e8e8e8;
$primar: #f9a825;

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h4 {
  font-size: 13px;
  padding: 0px 10px;
  margin: 4px 0px;
}
.facebook-color{
  background-color: blue;
  color: #fff;
}
.instagram-color{
  background-color: purple;
  color: #fff;
}

mat-toolbar-row{
  height: 95px;
}
.quick-link{
  margin-top: 20px;
}

// mat-toolbar-row .mat-button {
// left: -3px;
// /* top: 0px; */
// border: 1px solid #ccc;
// }

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-wrapper {
position: sticky;
position: -webkit-sticky; /* For macOS/iOS Safari */
top: 0; /* Sets the sticky toolbar to be on top */
z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
.mat-icon{
    &.hm-wallet {
      margin: 0px 20px;
    }
    &.hm-user-icon{
      margin: 0px 10px;
      font-size: 35px;
      height: auto;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}

.header-social {
  position: absolute;
  right: 12px;
  a {
    padding: 5px 10px;
    font-size: 20px;
  }
  a:hover {
    color: $primar !important
  }
}

// .hm-user-menu-item + div.cdk-overlay-pane > div.mat-menu-panel > div.mat-menu-content {

//   }


.hm-user-menu-item{
  h4 {
    font-size: 14px;
    padding: 10px;
  }
}

.toolbar-wrapper button{
  border-radius: 20px;
  margin-top: 20px;
  &.menu-button {
    min-width: 36px;
    left: -11px;
    padding: 0px !important;
    margin-top: 0px;
  }

}

.toolbar-wrapper span{
  padding-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.toolbar-wrapper span a{
  text-decoration: none;
}
.toolbar-wrapper span.highlight-menu{
  border: 2px solid #f2bf2b;
  border-radius: 44px;
  padding:10px;
  margin-right: 10px;
}

.toolbar-wrapper span img{
width : 30%;
}

.toolbar-wrapper .notification-icon{
  border-radius: 20px;
}

.fixed-plugin {
  position: fixed;
  top: 115px;
  right: 15px;
  line-height: 48px;
  width: 64px;
  background: rgba(0, 0, 0, 0.08);
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;

  .follow-text {
    color: #fff;
   }

   button{
     background: $off-white;
   }
}

.fixed-plugin

.side-bar-quick-link{
  display: none;
}

.side-bar-quick-link a {
  padding: 1rem 50px;
}

.mat-sidenav {
  width: 230px;
  .side-bar-logo {
    text-align: center;
      img{
      width:80%;
      padding-top: 10px;
    }
  }
}

.footer-wrapper{
  background-color: $primar;
  p {
    a {
      text-decoration: none;
    }
    a:hover{
      color: $white;
    }
  }
  .footer-bottom {
    text-align: center;
    .footer-social {
      a {
        padding: 5px 10px;
        font-size: 20px;
      }
      a:hover {
        color: $white !important
      }
    }
  }

}




@media (max-width: 1024px) {
  .fixed-plugin {
    right: 0px;
  }
  .toolbar-wrapper span img{
    width : 75%;
  }
}

@media (max-width: 768px) {
  .fixed-plugin {
    right: 0px;
  }
  .toolbar-wrapper span{
    padding: 0 0px;
  }

  .quick-link{
    display: none;
  }
  .toolbar-wrapper span img{
    width : 40%;
  }

  .side-bar-quick-link {
    display: block;

  }
}

@media (max-width: 640px) {

  .toolbar-wrapper{
      span img{
        width : 85%;
      }
      .mat-icon.hm-wallet {
        margin: 0px 14px;
      }
      button {
        border-radius: 12px;
        font-size: 12px;
        min-width: 48px;
        padding: 0px;
        line-height: 30px;
      }
  }

}
