
<div class="container">
  <!-- <div class="astrologer-listing-wrapper"> -->
    <div class="row astrologer-listing-wrapper">

      <div class="col-md-4 my-3" *ngFor="let element of astroListing">
        <mat-card>
        <div class="row">
          <div class="col-4">
            <img src="{{element.profilePic ? element.profilePic : '../../../assets//images/user/default-user.jpg'}}">
          </div>
          <div class="col-8">
            <h1>{{element.name}} <span><mat-icon>verified</mat-icon></span></h1>
            <p>{{element.language}}</p>
            <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary" (click)="report(element)">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary" (click)="call(element)">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary" (click)="chat()">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary" (click)="question(element)">Ask Question</button>
          </div>
        </div>
      </mat-card>
      </div>






      <!-- <div class="col-md-4 my-3">
        <mat-card>
        <div class="row">
          <div class="col-4">
            <img src="../../../assets//images/user/default-user.jpg">
          </div>
          <div class="col-8">
            <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
            <p>Hindi, English</p>
            <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary" (click)="report()">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary" (click)="call()">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary" (click)="chat()">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary" (click)="question()">Ask Question</button>
          </div>
        </div>
      </mat-card>
      </div>
      <div class="col-md-4 my-3">
        <mat-card>
        <div class="row">
          <div class="col-4">
            <img src="../../../assets//images/user/default-user.jpg">
          </div>
          <div class="col-8">
            <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
              <p>Hindi, English</p>
              <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

          </div>
        </div>
        </mat-card>
      </div>
      <div class="col-md-4 my-3">
        <mat-card>
        <div class="row ">
          <div class="col-4">
            <img src="../../../assets//images/user/default-user.jpg">
          </div>
          <div class="col-8">
            <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
            <p>Hindi, English</p>
            <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

          </div>
        </div>
      </mat-card>
      </div>

      <div class="col-md-4 my-3">
        <mat-card>
        <div class="row">
          <div class="col-4">
            <img src="../../../assets//images/user/default-user.jpg">
          </div>
          <div class="col-8">
            <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
            <p>Hindi, English</p>
            <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

          </div>
        </div>
      </mat-card>
      </div>
      <div class="col-md-4 my-3">
      <mat-card>
        <div class="row">
          <div class="col-4">
            <img src="../../../assets//images/user/default-user.jpg">
          </div>
          <div class="col-8">
            <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
            <p>Hindi, English</p>
            <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

          </div>
        </div>
      </mat-card>
      </div>
      <div class="col-md-4 my-3">
        <mat-card>
          <div class="row">
            <div class="col-4">
              <img src="../../../assets//images/user/default-user.jpg">
            </div>
            <div class="col-8">
              <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
              <p>Hindi, English</p>
              <p>Vedic Astrologer, Gemology</p>
              <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
              <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
              <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
              <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

            </div>
          </div>
      </mat-card>
      </div>

      <div class="col-md-4 my-3">
        <mat-card>
        <div class="row">
          <div class="col-4">
            <img src="../../../assets//images/user/default-user.jpg">
          </div>
          <div class="col-8">
            <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
            <p>Hindi, English</p>
            <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

          </div>
        </div>
      </mat-card>
      </div>
      <div class="col-md-4 my-3">
      <mat-card>
        <div class="row">
          <div class="col-4">
            <img src="../../../assets//images/user/default-user.jpg">
          </div>
          <div class="col-8">
            <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
            <p>Hindi, English</p>
            <p>Vedic Astrologer, Gemology</p>
            <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
            <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
            <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

          </div>
        </div>
      </mat-card>
      </div>
      <div class="col-md-4 my-3">
        <mat-card>
          <div class="row">
            <div class="col-4">
              <img src="../../../assets//images/user/default-user.jpg">
            </div>
            <div class="col-8">
              <h1>Bijendra Gaur <span><mat-icon>verified</mat-icon></span></h1>
              <p>Hindi, English</p>
              <p>Vedic Astrologer, Gemology</p>
              <button *ngIf="ReportBtnFlag" mat-raised-button color="primary">Report</button>
              <button *ngIf="CallBtnFlag" mat-raised-button color="primary">Call</button>
              <button *ngIf="ChatBtnFlag" mat-raised-button color="primary">Chat</button>
            <button *ngIf="QAndAFlag" mat-raised-button color="primary">Ask Question</button>

            </div>
          </div>
      </mat-card>
      </div> -->

    </div>
  <!-- </div> -->
</div>



