<div class="form-wrapper">
<h2 >{{message}}</h2>

<form name="validateForm" *ngIf="!isVisible" [formGroup]="signUpValidateForm" novalidate (ngSubmit)="submitForm(signUpValidateForm.value)">

  <mat-form-field class="form-field-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name">
      <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
      <mat-error>
          Name is required
      </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field-width mt-2">
    <mat-label>Select Type</mat-label>
    <mat-select name="userType" formControlName="userType">
      <mat-option value=1 >User</mat-option>
      <mat-option value=2 >Astrolloger</mat-option>
    </mat-select>
    <mat-error *ngIf="signUpValidateForm.get('userType').hasError('required')">
      Login type is required!
  </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field-width  mt-2">
      <mat-label>Mobile Number</mat-label>
      <input matInput formControlName="contactNo">
      <mat-icon matSuffix class="secondary-text">phone</mat-icon>
      <mat-error *ngIf="signUpValidateForm.get('contactNo').hasError('required')">
          Mobile number is required!
      </mat-error>
      <mat-error
          *ngIf="!signUpValidateForm.get('contactNo').hasError('required') &&
                  signUpValidateForm.get('contactNo').hasError('mobileErr')">
          Please enter a valid mobile number!
      </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field-width  mt-2">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-icon matSuffix class="secondary-text">mail</mat-icon>
      <mat-error *ngIf="signUpValidateForm.get('email').hasError('required')">
          Email is required
      </mat-error>
      <mat-error *ngIf="signUpValidateForm.get('email').hasError('email')">
          Please enter a valid email address
      </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field-width mt-2">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error *ngIf="signUpValidateForm.get('password').hasError('required')">
        Password is required!
      </mat-error>
      <mat-error
            *ngIf="!signUpValidateForm.get('password').hasError('required') &&
                    signUpValidateForm.get('password').hasError('passErr')">
            *Please enter a valid password! <br>
            *minimum length should be 8 digit <br>
            *must contain Numeric and Alpha characters
      </mat-error>
  </mat-form-field>



  <!-- <mat-form-field class="form-field-width">
      <mat-label>Password (Confirm)</mat-label>
      <input matInput type="password" formControlName="passwordConfirm">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error *ngIf="signUpValidateForm.get('passwordConfirm').hasError('required')">
          Password confirmation is required
      </mat-error>
      <mat-error *ngIf="!signUpValidateForm.get('passwordConfirm').hasError('required') &&
                         signUpValidateForm.get('passwordConfirm').hasError('passwordsNotMatching')">
          Passwords must match
      </mat-error>
  </mat-form-field> -->

  <!-- <div class="terms" fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox name="terms" aria-label="Accept" required>
          <span>Accept</span>
      </mat-checkbox>
      <a href="#">terms and conditions</a>
  </div> -->

  <button mat-raised-button color="primary" class="submit-button mt-5 mr-3" aria-label="CREATE AN ACCOUNT"
          [disabled]="signUpValidateForm.invalid">
      Sign Up
  </button>
  <button mat-stroked-button color="warn" class="submit-button mt-3" aria-label="Cancel" [mat-dialog-close]="">
    Cancel
  </button>

</form>

 <!-- OTP Form -->
 <div class="otp-wrapper" *ngIf="isVisible">
  <form name="otpForm" [formGroup]="otpForm" novalidate (ngSubmit)="otpSubmitForm(otpForm.value)">

      <mat-form-field class="form-field-width mt-2">
        <mat-label>OTP</mat-label>
        <input matInput formControlName="otp">
        <mat-icon matSuffix class="secondary-text">code</mat-icon>
        <mat-error *ngIf="otpForm.get('otp').hasError('required')">
            OTP is required!
        </mat-error>
        <!-- <mat-error
            *ngIf="!otpForm.get('mobile').hasError('required') &&
                    otpForm.get('mobile').hasError('mobileErr')">
            Please enter a valid mobile number!
        </mat-error> -->
      </mat-form-field>

      <button mat-raised-button color="primary" class="submit-button mt-3" aria-label="LOGIN"
        [disabled]="otpForm.invalid">
            Submit
      </button>

  </form>
</div>


</div>
