
<div class="container">
<div class="astro-dashboard-wrapper">
  <div class="separator my-5">
    <span class="dashboard-title text ">Dashboard</span>
  </div>

<div class="row">
  <div class="col-md-3 my-3">
    <mat-card class="card1" (click)="astroReport()">
      <mat-icon>assignment</mat-icon>
      <h1>Report</h1>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
    </mat-card>
  </div>
  <div class="col-md-3 my-3">
    <mat-card class="card1" (click)="astroQuestion()">
       <mat-icon>question_answer</mat-icon>
      <h1>Question </h1>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
    </mat-card>
  </div>
  <div class="col-md-3 my-3">
    <mat-card class="card1">
      <span><mat-icon>call</mat-icon></span>
      <h1>Call </h1>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
    </mat-card>
  </div>
  <div class="col-md-3 my-3">
    <mat-card class="card1">
      <span><mat-icon>chat</mat-icon></span>
      <h1>Chat </h1>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
    </mat-card>
  </div>
</div>
</div>
</div>
