.wallet {
    margin: 1.5rem 0;
    .wallet-header {
        padding: 2rem 1rem;
        background-color: whitesmoke;
    }
    .money-symbol {
        margin: 0 0.5rem 0 0;
    }
    .money-symbol, .amount {
        font-size: 35px;
    }
    .wallet-img-holder  {
        width: 30%;
        margin: 0 auto 30px;
    }

    .add-wallet-money {
        margin: 1rem 0 0;
        box-shadow: none;
    }
    .wallet-form {
        text-align: center;
        .field-wrapper {
            width: 235px;
            margin: 0 auto;
        }
    }

    .recharge-list {
        .list {
            padding: 5px 8px;
            margin: 0 10px 0 0;
            border: 1px solid #f9a825;
            border-radius: 4px;
            cursor: pointer;
            &.active {
                background-color: #f9a825;
            }
        }
    }
}