<div class="wallet">
   <div class="container">
       <div class="row">
           <div class="col-10 offset-md-1">
              <mat-card class="wallet-header">
                <div class="clearfix">
                        <div class="float-left">
                            <div class="wallet-info">
                                <span class="money-symbol">₹</span>
                                <span class="amount">{{(walletInfo?.amount) ? walletInfo?.amount: '0'}}</span>
                                <span class="d-block mt-2">SaiAstro Wallet Balance</span>
                            </div>
                            <!-- <span>
                                {{walletInfo?.amount}}
                            </span> -->
                        </div>
                        <div class="float-right">
                            <button mat-raised-button color="primary" (click)="addWallet()" class="mt-2">Add Money to Wallet</button>
                        </div>
                    </div>
              </mat-card>
              <mat-card class="add-wallet-money" *ngIf="viewWallet">
                <div class="wallet-img-holder">
                    <img src="/assets/images/social/wallet.png" alt="" class="img-fluid">
                </div>
                <form [formGroup]="walletForm" class="wallet-form">
                    <div class="recharge-list mb-5">
                        <span class="list" *ngFor="let list of rechargeList; let i = index" (click)="selectRechargeAmount(list)" [ngClass]="(selectedRechargeAmount == list.amount) ? 'active': '' ">{{list.symbol}} {{list.amount}}</span>
                    </div>
                    <div class="field-wrapper">
                        <mat-form-field class="example-full-width w-100">
                              <input matInput placeholder="Enter Amount to be added in wallet" formControlName="walletAmount">
                        </mat-form-field>
                    </div>                 
                    <div class="text-center">
                        <button mat-raised-button color="primary" [disabled]="walletForm.invalid" (click)="rechargeWallet(walletForm)">Recharge</button>
                    </div>
                </form>
              </mat-card>
           </div>
       </div>  
   </div>
</div>