@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';



// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$saiAstroWorld-primary: mat-palette($mat-yellow, 700, 400, 800);
$saiAstroWorld-accent: mat-palette($mat-yellow, 700, 400, 800);
// $saiAstroWorld-accent: mat-palette($mat-grey, A400, A100, A200);


// The warn palette is optional (defaults to red).
$saiAstroWorld-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$saiAstroWorld-theme: mat-light-theme($saiAstroWorld-primary, $saiAstroWorld-accent, $saiAstroWorld-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($saiAstroWorld-theme);

/* You can add global styles to this file, and also import other style files */
// @import "~node_modules/bootstrap-material-design/scss/bootstrap-material-design";

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// Your variable overrides
// $body-bg: #000;
// $body-color: #111;
$black : #000;
$primary : #f9a825;

@font-face {
  font-family: 'Muli';
  src: url('./assets/font/Muli-VariableFont_wght.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Muli, sans-serif; }
// * {
//   transition: all 0.3s ease-out;
// }
.mat-error{
  font-size: 14px;
}
a:hover {
  color : $primary;
}
a {
  color : $black;
}

.list-group-item.active{
  background-color: #f9a825;
  border-color: #f9a825;
}

.separator {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;

  &.login {
    margin: 24px auto;
  }

  &.home{
    margin: 0px auto;
  }

  .text {
      display: inline-flex;
      position: relative;
      padding: 0 8px;
      // z-index: 9999;

      &:before,
      &:after {
          content: '';
          display: block;
          width: 30px;
          position: absolute;
          top: 10px;
          border-top: 1px solid;
      }

      &:before {
          right: 100%;
      }

      &:after {
          left: 100%;
      }
  }
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.cardShadow{
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
