<div class="transaction-wrapper">
    <div class="container">
        <!-- search data table filter start -->
        <div class="clearfix">
        <div class="float-left">
                <h2 class="font-muli">Transactions</h2>
        </div>
          <div class="float-right filter-field">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search by: Name, Email, Status..." #input>
              <mat-icon matSuffix>filter_alt</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!-- search data table filter end -->

        <div class="mat-elevation-z8 mt-3">
            <table mat-table [dataSource]="dataSource">
         
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index" data-label="No."> {{i+1}} </td>
              </ng-container>
        
              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element" data-label="Name"> {{element.type}} </td>
              </ng-container>
          
              <!-- Email Column -->
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Created Date </th>
                <td mat-cell *matCellDef="let element" data-label="Email"> {{element.createdAt}} </td>
              </ng-container>

              <!-- Mobile Column -->
              <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef> Updated Date </th>
                <td mat-cell *matCellDef="let element" data-label="Mobile No"> {{element.updatedAt}} </td>
              </ng-container>
          
              <!-- Status Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element" data-label="Mobile No"> {{element.amount}} </td>
              </ng-container>

              <!-- Action Column -->
               <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element; let row" data-label="Action">
                  <button mat-raised-button color="accent" class="mr-4" (click)="viewProfile(row)">View Profile</button>
                  <button mat-raised-button color="accent" (click)="viewFeatures(row)">Features</button>
                </td>
               </ng-container> -->
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        
    </div>
</div>